

.heading-primary {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 20%;
}

.notification-notification{
  position: fixed;
  left: 0px;
}

.notification-messages{
  right: 0px;
}

.notificationss {
  position: fixed;
  border-left: 2px solid #C0C0C0;
  /* margin-top: -20px; */
  height: 100%;
  width: 20%;
  padding: 1rem 2rem;
  background-color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notifications {
    position: fixed;
    border-left: 2px solid #C0C0C0;
    /* margin-top: -20px;  */
    height: 100%;
    width: 20%;
    padding: 1rem 2rem;
    background-color: #FBFBFB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  @media (max-width: 56.25em) {
    .notifications {
      display: none;
    }
  }
  
  .notifications__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 14%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .notifications__heading {
    margin-right: auto;
    font-size: 1.8rem;
    color: #000000;
    font-weight: 400;
    letter-spacing: 1.2px;
  }
  
  .notifications__seeall:link, .notifications__seeall:visited {
    font-size: 1.2rem;
    color: #ff9f24;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .notifications__seeall:hover {
    font-size: 1.2rem;
  }
  
  .notifications__user:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  
  .notifications__link {
    position: relative;
    z-index: 1;
  }
  
  .notifications__link::before {
    content: "";
    position: absolute;
    width: 145%;
    height: 135%;
    top: -1.2rem;
    left: -3rem;
    background-color: transparent;
    z-index: -1;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  
  .notifications__link:hover::before {
    background-color: 	#C0C0C0;
  }
  
  .notifications__link:link, .notifications__link:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: currentColor;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .notifications__user-photo {
    width: 5rem;
    height: 5rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  
  .notifications__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1rem;
  }
  
  .notifications__user-name {
    color: #000000;
    font-size: 1.2rem;
  }
  
  .notifications__chat-text {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
  }
  