/* #################### SIDE MENU #################### */

.sidebar{
    position: fixed;
    width: 260px;
    height: 100%;
    background-color: black;
    left: -260px;
    transition: all 500ms linear;
    z-index: 100;
}
.sidebar.active{
    left:0px;
}

.sidebar .sidebar-title{
    color: red;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    text-align: center;
    font-size: 30;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar .sidebar-title:hover{
    color: red;
    background:  black;
    cursor: default;
}

.sidebar .options{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    text-align: center;
    font-size: 22;
}

.sidebar .options:hover{
    color: black;
    background:  rgba(230,230,230,0.9);
    cursor: pointer;
}

.toggle-btn{
    position: absolute;
    left: 280px;
    top: 15px;
    z-index: 100;
    cursor: pointer;
}

.sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #ad0707;
    margin: 5px 0px;
    opacity: 0.8;
}

